ServicioWebCliente/web/WEB-INF/wsdl/localhost_8080/ServicioWebCRUD/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="busquedaId" type="tns:busquedaId"/>

<xs:element name="busquedaIdResponse" type="tns:busquedaIdResponse"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="eliminarResponse" type="tns:eliminarResponse"/>

<xs:element name="insertar" type="tns:insertar"/>

<xs:element name="insertarResponse" type="tns:insertarResponse"/>

<xs:element name="modificar" type="tns:modificar"/>

<xs:element name="modificarResponse" type="tns:modificarResponse"/>

<xs:element name="mostrar" type="tns:mostrar"/>

<xs:element name="mostrarResponse" type="tns:mostrarResponse"/>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:datosVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosVO">
<xs:sequence>
<xs:element name="buscado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertar">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarResponse">
<xs:sequence>
<xs:element name="return" type="tns:datosVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarResponse">
<xs:sequence>
<xs:element name="return" type="tns:datosVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificar">
<xs:sequence>
<xs:element name="buscado" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarResponse">
<xs:sequence>
<xs:element name="return" type="tns:datosVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="busquedaId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="busquedaIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:datosVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>