ServicioWebCliente/src/conf/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/ServicioWebCRUD/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/ServicioWebCRUD/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="mostrar">
<part name="parameters" element="tns:mostrar"/>
</message>
<message name="mostrarResponse">
<part name="parameters" element="tns:mostrarResponse"/>
</message>
<message name="busquedaId">
<part name="parameters" element="tns:busquedaId"/>
</message>
<message name="busquedaIdResponse">
<part name="parameters" element="tns:busquedaIdResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="modificar">
<part name="parameters" element="tns:modificar"/>
</message>
<message name="modificarResponse">
<part name="parameters" element="tns:modificarResponse"/>
</message>
<portType name="Servicio">
<operation name="mostrar">
<input wsam:Action="http://WebService/Servicio/mostrarRequest" message="tns:mostrar"/>
<output wsam:Action="http://WebService/Servicio/mostrarResponse" message="tns:mostrarResponse"/>
</operation>
<operation name="busquedaId">
<input wsam:Action="http://WebService/Servicio/busquedaIdRequest" message="tns:busquedaId"/>
<output wsam:Action="http://WebService/Servicio/busquedaIdResponse" message="tns:busquedaIdResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://WebService/Servicio/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://WebService/Servicio/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://WebService/Servicio/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://WebService/Servicio/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="modificar">
<input wsam:Action="http://WebService/Servicio/modificarRequest" message="tns:modificar"/>
<output wsam:Action="http://WebService/Servicio/modificarResponse" message="tns:modificarResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mostrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/ServicioWebCRUD/Servicio"/>
</port>
</service>
</definitions>